.bodyCss {
  font-weight: 500;
}
.product_css {
  font-size: 40px;
  font-weight: 400;
}

.flex {
  display: flex;
}

img {
  border-radius: 20px !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.gap {
  gap: 35px;
  padding-left: 40px;
}
.pg_lt {
  padding-left: 40px;
}

.mg_0 {
  margin: 0 !important;
}

.mg-lt {
  margin-left: 32px;
}

.pg-t {
  padding-top: 32px !important;
}

.top-cat-row1-sec {
  height: 33% !important;
}
.top-cat-row2-sec {
  height: 33% !important;
}
.home {
  flex-direction: column-reverse;
}

.wrapper {
  border-bottom: 0.1rem solid rgba(18, 18, 18, 0.08);
}
.pg_bt {
  padding-bottom: 36px;
}
.container {
  max-width: 1600px;
  min-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: 980px) {
    min-width: 100%;
  }
}
.home_page_banner {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  height: 800px;
  background-image: url(https://images.contentstack.io/v3/assets/blt8b7008208fac8f80/blt727d9ff3d30f4ec9/65fc065a039fdd149b3399e7/Limited_Offer.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.home_page_banner:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  /* background: black; */
  /* opacity: 0.4; */
  z-index: 1;
}
.page_banner_content {
  font-size: 3.875rem;
  line-height: 1;
  letter-spacing: -0.03em;
  color: #212121;
  z-index: 2;
  margin: 0;
}
.page_banner_heading {
  color: var(--Colors-Text_Highlight, #eb5646);
  /* HT */
  /* font-family: Inter; */
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  z-index: 2;
  padding-top: 64px;
  margin-bottom: 0;
}
.banner-description {
  max-width: 774px;
  color: var(--Colors-Secondary-Text-1, #545454);
  /* P3 */
  /* font-family: Inter; */
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 8px;
  margin-bottom: 32px;
}
.banner_repo_cta {
  z-index: 2;
  display: inline-flex;
  justify-content: center;
  border: 1px solid #212121;
  align-items: center;
  border-radius: 8px;
  padding: 0 3rem;
  cursor: pointer;
  font: inherit;
  font-size: 16px;
  text-decoration: none !important;
  padding: 16px;
  color: var(--Colors-Text_white, #fff);
  font-weight: 600;
  line-height: 150%; /* 24px */
  letter-spacing: 0.16px;
  text-transform: uppercase;
  /* color: white; */
  transition: box-shadow var(--duration-short) ease;
  -webkit-appearance: none;
  appearance: none;
  min-height: 56px;
  background-color: #212121;

  &:hover {
    border: 2px solid white;
    transition: box-shadow var(--duration-short) ease;
  }
}
.feature_heading {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 60px */
  text-transform: capitalize;
  margin-bottom: 32px;
}
.featured_wrapper {
  margin-top: 80px;
  margin-bottom: 80px;

  .featuredContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
  }
  .product_cta {
    font-size: 24px;
    color: #212121;
    line-height: 150%;
    font-weight: 600;
    margin: 0;
    text-transform: capitalize;
    margin-bottom: 8px;
  }
  .product_small_cta {
    color: #545454;
    font-size: 16px;
    margin-bottom: 8px;
    text-transform: capitalize;
  }
  .recommended-product {
    /* text-align: center; */
    text-transform: uppercase;
    position: relative;
  }
  .product_price {
    font-size: 20px;
    color: #212121;
    font-weight: 600;
  }
}
.center {
  text-align: center;
  /* padding-bottom: 36px; */
}
.view_allproducts {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #212121;
  padding: 16px 34px;
  font-size: 16px;
  text-transform: uppercase;
  color: #212121;
  transition: box-shadow var(--duration-short) ease;
  align-items: center;
}
.footer_email {
  max-width: 360px;
  width: 100%;
  position: relative;
  border-radius: 0%;
  padding: 16px 32px;
  color: #545454;
}
.footer_wrapper {
  background-color: #212121;
  color: white;
}
.footer_heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 150%; /* 60px */
  text-transform: capitalize;
  margin-bottom: 0;
}
.footer_info {
  padding-bottom: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.footer_row {
  padding-top: 72px;
}
.footer_col_left {
  flex: 0 0 64%;
  max-width: 64%;
}
.footer_col_right {
  flex: 0 0 36%;
  max-width: 36%;
}
.footer_products_wrap {
  display: flex;
  justify-content: space-between;
  ul {
    li {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      opacity: 0.79;
    }
  }
}
.footer_product_heading {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
  text-transform: capitalize;
  color: #fff;
}
.footer_copyright_sec {
  text-align: end;
  padding-top: 16px;
  padding-bottom: 47px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.footer_logoWrap {
  padding-bottom: 35px;
  padding-top: 118px;
  border-bottom: 1px solid #c9c9c9;
  display: flex;
  justify-content: space-between;
  svg {
    padding-left: 18px;
  }
}

.load_more {
  display: flex;
  justify-content: center;
  /* font-size: 24px; */
}

.star_rating {
  font-size: 26px;
}

.collection_wrapper {
  background-color: #f0eefd;
  /* height: 855px; */
}
.collection_product_count {
  color: white;
  font-weight: 400;
  line-height: 150%; /* 18px */
  letter-spacing: 0.12px;
  text-transform: capitalize;
  font-size: 12px;
}
.collection-item {
  margin: 9px !important;
}
.collection_description {
  font-size: 32px;
  color: white;
  line-height: 150%; /* 48px */
  letter-spacing: 0.32px;
  text-transform: uppercase;
}
.collection_heading {
  /* text-align: center; */
  padding-left: 32px;
  text-transform: uppercase;
  color: #212121;
  font-size: 48px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.48px;
}
.mg_b32 {
  margin-bottom: 32px;
}
.collection_image {
  position: relative;
  max-width: 644px;
  max-height: 328px;
  width: 100%;
  object-fit: cover;
  object-position: top center;
}
.small_img {
  img {
    border-radius: 16px;
  }
}
.collection_img_large {
  border-radius: 16px;
  .collection_info {
    padding-left: 64px;
  }
  img {
    margin-top: 40px;
    max-width: 920px;
    max-height: 560px;
    width: 100%;
    object-fit: cover;
    object-position: top center;
    margin-left: 32px;
    border-radius: 16px;
  }
}
.explore_Sec_row {
  padding-top: 80px;
  padding-bottom: 80px;
}
.collection_info {
  position: absolute;
  bottom: 25%;
  margin-left: 32px;
}
.collection_small_text {
  font-size: 14px;
  color: white;
}
.collection_content {
  color: white;
  z-index: 2;
  /* font-size: 24px !important; */
}
.feature-products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  /* margin: 0 80px; */
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.feature-product {
  margin: 10px;
  img {
    /* height: auto; */
    height: 440px;
  }
}
/* about page */
.about_page_banner {
  height: 400px;
  background-image: url(public/full-shot-woman-online-fashion-shopping.svg);
  /* background-image: url(public/.banner.svg); */
  position: relative;
  display: flex;
  align-items: end;
  margin-bottom: 24px;
}
.about_heading {
  font-size: 64px;
  color: white;
  margin-bottom: 80px;
  margin-left: 160px;
}
.about_description {
  color: #545454;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}

/* offers Page */
.offers_col_img {
  flex: 0 0 49%;
  max-width: 49%;
}
.offers_row {
  background-color: #212121;
  border-radius: 17px;
  max-height: 360px;
}
.offers_col_dark {
  flex: 0 0 51%;
  max-width: 51%;
}
.offers_title {
  padding-top: 38px;
  color: white;
  padding-left: 32px;
}
.offers_subTitle {
  padding-left: 32px;
  font-size: 32px;
  color: white;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.48px;
  line-height: 150%;
}
.offers_image {
  border-radius: 0;
}
.offers_cta {
  margin-left: 32px;
  background-color: #eb5646;
  color: white;
  padding: 16px 24px;
  border-radius: 8px;
  display: inline-flex;
  font-size: 14px;
  text-transform: uppercase;
}
.new_arrival_wrap {
  background-color: #fdf9ee;
}

.newArrival_col_large {
  flex: 0 0 68%;
  max-width: 68%;
  .row {
    flex-wrap: nowrap;
    img {
      max-width: 512px;
      min-height: 512px;
    }
    .first_img {
      padding: 0 32px;
    }
  }
}
.newArrival_col_small {
  flex: 0 0 32%;
  max-width: 32%;
  img {
    min-height: 640px;
    min-width: 100%;
    object-fit: cover;
    object-position: top center;
  }
}
.new_arrival_heading {
  text-align: center;
  padding-top: 42px;
  p {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    .dark_text {
      background-color: #212121;
      color: #fff;
    }
  }
}

.col-left-top-cat {
  flex: 0 0 50%;
  max-width: 50%;
}

.top-cat-img {
  height: auto !important;
  margin-bottom: 32px;
}

.col-left-best-seller {
  flex: 0 0 60%;
  max-width: 60%;
}
.col-right-best-seller {
  flex: 0 0 37%;
  max-width: 37%;
}

.peral-foot {
  height: 48% !important;
}

.best-sell-img {
  position: relative;
}
.best-sell-cta1 {
  background-color: white;
  text-decoration: none !important;
}
.best-sell-cta-heading {
  color: white;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 12px;
}

.best-sell-cta {
  position: absolute;
  bottom: 13%;
  left: 95px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 32px;
    text-decoration: none !important;
    font-weight: 400;
    line-height: 48px;
  }
}

.fieldset {
  border: none;
}

.login-email {
  padding: 16px 70px !important;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  color: #e6e6e6;

  ::placeholder {
    color: red;
    /* opacity: 1; Firefox */
  }
}

.breadcrumbs {
  margin-bottom: 10px;
  max-width: 1400px;
  min-width: 1487px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

.breadcrumbs ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs li {
  display: inline;
}

.breadcrumbs li:not(:last-child):after {
  content: url('../../public/breadcrumb.svg');
  margin: 0 5px;
  vertical-align: middle;
  line-height: 1em;
}

.breadcrumbs li:not(:last-child) a:after {
  margin: 0 5px;
  vertical-align: middle;
  line-height: 1em;
}

.breadcrumbs li a {
  text-decoration: none;
  color: #333;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  line-height: 150%;
}

.breadcrumbs li a:hover {
  text-decoration: underline;
}
.referencePrice {
  color: #212121 !important;
  text-align: center;
  font-family: Inter;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.12px;
  text-transform: capitalize;
  margin-left: 10px;
}

.product-price-on-saleRef {
  color: #212121;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: capitalize;
}
.percentageOffPrice {
  color: var(--Colors-Text_Primary, #212121);
  text-align: center;

  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  letter-spacing: 0.12px;
  text-transform: capitalize;
  margin-left: px;
}

.banner_repo_cta .svg-icon {
  position: absolute;
  left: 10px;
  z-index: 1;
}
.add-to-cart-container form {
  display: flex !important;
}

.addtocartquantiy {
  top: -1px;
  left: -1px;
  width: 152px;
  height: 56px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #212121;
  background: rgba(255, 255, 255, 0);
  margin-right: 20px;
}

.increment-button {
  border: none;
  background: transparent;
  margin-left: 20px;
  margin-top: 15px;
}
.decrement-button {
  border: none;
  background: transparent;
  margin-left: 10px;
  margin-top: 15px;
}

.totalquantiy {
  vertical-align: super;
  display: inline-block;
  margin-left: 10px;
}
.increment-button:hover {
  cursor: pointer;
}
.decrement-button:hover {
  cursor: pointer;
}

.shipping-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.postalcode-container {
  margin-right: 10px;
}

.details-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.shipping-container p {
  margin: 0;
}

.Free-Delivery {
  color: #212121;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.16px;
}
.Postal-code {
  color: #212121;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  letter-spacing: 0.12px;
  text-decoration-line: underline;
  text-transform: capitalize;
  margin-top: 4px;
}

.instock {
  color: var(--Colors-Success, #42cc71);
  text-align: center;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.16px;
  margin-left: 5px;
}

.verticalseprator {
  margin-left: 5px;
}

.banner_repo_cta_icon::before {
  content: url('../../public/cart.svg');
  margin-right: 5px;
  margin-top: 2px;
}
