# These variables are only available locally in MiniOxygen
# https://shopify.dev/docs/custom-storefronts/hydrogen/environment-variables

## Shopify Environment Variables
# A secret used to sign session cookies.
SESSION_SECRET="foobar"
# The public access token for the Storefront API.
PUBLIC_STOREFRONT_API_TOKEN=""
# The private access token for the Storefront API.
PRIVATE_STOREFRONT_API_TOKEN=""
# The id of the store used to communicate with the Storefront API.
PUBLIC_STOREFRONT_ID=""
# The client id of the public customer account used to communicate with the Storefront API.
PUBLIC_CUSTOMER_ACCOUNT_API_CLIENT_ID=""
# The url of the public customer account used to communicate with the Storefront API.
PUBLIC_CUSTOMER_ACCOUNT_API_URL=""
# The domain of the store used to communicate with the Storefront API.
PUBLIC_STORE_DOMAIN=""

## Contentstack Environment Variables
# Stack API key
CONTENTSTACK_API_KEY=""
# Delivery token for the Stack
CONTENTSTACK_DELIVERY_TOKEN=""
# Environment name
CONTENTSTACK_ENVIRONMENT=""
# Region name
CONTENTSTACK_REGION=""